body{
	
	 background: url("http://wallpapercave.com/wp/DgVgDb2.jpg");
}
.instructions{
text-align: center;
color:blue;
}
.title{
	text-align: center;
	text-decoration: underline;
}
.final{
	color: red;
}