body{
	
	 /*background: url("http://wallpapercave.com/wp/DgVgDb2.jpg");*/
	 background-color: #ADD8E6;
}
.instructions{
text-align: center;
color:white;
}
.title{
	text-align: center;
	text-decoration: underline;
}
.final{
	color: red;
}