body{
	
	 /*background: url("http://wallpapercave.com/wp/DgVgDb2.jpg");*/
	 background-color: #ADD8E6;
}
.instructions{
font-size: 20px;
color:white;

}
.title{
	text-align: center;
	font-family: georgia, serif;
	text-shadow: 1px 1px;
}
.final{
	color: red;
}